<!DOCTYPE html>
<html>
    
    <body>
        <div class="container">
             <h1><span> Google</span></h1>
             <p>Login Or Register with</p>
             <a href="/auth/google">Google</a>
        </div>
    </body>
</html>